body {
  font-family: sans-serif;
  font-size: 40pt;
  background-color: #121212;
  color: rgba(255, 255, 255, 0.7);
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.time-selector {
  display:flex;
  align-items:center;
}

.time-picker {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.confirm{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15pt;
  background-color: #121212;
}

.tp-col {
  display:flex;
  flex-direction:column;
  align-items: inherit;
}
.tp-hr>span,.tp-min>span {
  padding:4px 4px ;
  width:60px;
  text-align:center;
  font-size:45pt;
}
.tp-up-arrow,.tp-down-arrow {
  cursor:pointer;
  font-size:45pt;
}